* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(to right, red, white);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main::before {
    content: "";
    background: url(./img/music_in_a_slate-wallpaper-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}

section {
    color: black;
}

.search {
    display: flex;
    opacity: 10;
    z-index: 10;

}

form {
    margin-left: 25%;
}

button {
    border-radius: 0 7px 7px 0;
}

.main .contain {
    background-color: white;
    border-radius: 10px;
    opacity: .9;
    text-decoration: none;
    height:525px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.contain {
    display: none;
}

#err {
    position: absolute;
    top: 160px;
    left: 630px;
}